# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.1.13
    hooks:
    -   id: forbid-crlf
        types: ["file", "python", "text"]
    -   id: remove-crlf
        types: ["file", "python", "text"]
    -   id: forbid-tabs
        types: ["file", "python", "text"]
    -   id: remove-tabs
        types: ["file", "python", "text"]
    -   id: insert-license
        types: ["file", "python", "text"]
        args:
        - --license-filepath
        - LICENSE
