wheel
sphinx==6.2.1
sphinx_rtd_theme
sphinxcontrib-bibtex
sphinx_autodoc_typehints
enum-tools[sphinx]
nbsphinx
jinja2==3.0.0
ipython
ipykernel
gitpython
git+https://github.com/Quandela/sphinx-multiversion-contrib.git@1.1.1
