# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Auto Tests

on:
  push:
    branches:
    - main
    - release/*
  pull_request:
    branches:
    - main
    - release/*

  workflow_dispatch:
    inputs:
      quandelibc_ref:
        description: Use specific Quandelibc's ref (branch, tag or SHA)
        default: ''
        type: string
        required: false


jobs:
  build-quandelibc:
    if: github.event_name == 'workflow_dispatch' && inputs.quandelibc_ref != ''
    name: Build quandelibc "${{ inputs.quandelibc_ref }}" wheels for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'macos-latest', 'windows-latest' ]

    steps:
      - uses: actions/checkout@v3
        with:
          repository: Quandela/QuandeLibC
          ref: ${{ inputs.quandelibc_ref }}
          path: quandelibc
          submodules: recursive
          fetch-depth: 0

      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: 3.9

      - name: Build wheels for cp310
        env:
          CIBW_BUILD: 'cp310-*'
          CIBW_SKIP: '*-musllinux_*'
          CIBW_ARCHS_LINUX: x86_64
          CIBW_ARCHS_MACOS: x86_64
          CIBW_ARCHS_WINDOWS: AMD64
          CIBW_BUILD_VERBOSITY: 1
        run: |
          cd quandelibc
          python -m pip install cibuildwheel
          python -m cibuildwheel --output-dir precompiled-quandelibc

      - name: Store wheel
        uses: actions/upload-artifact@v2
        with:
          name: python-package-distributions
          path: quandelibc/precompiled-quandelibc

  perceval-autotests:
    name: Run PyTest on ${{ matrix.os }}
    if: always()
    needs:
    - build-quandelibc
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10"]
        os: [macos-latest, windows-latest, ubuntu-latest]
        include:
          - os: 'ubuntu-latest'
            wheel: 'manylinux2014_x86_64'
          - os: 'macos-latest'
            wheel: 'macosx_10_9_x86_64'
          - os: 'windows-latest'
            wheel: 'win_amd64'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Fetch previously compiled Quandelibc
      if: github.event_name == 'workflow_dispatch' && inputs.quandelibc_ref != ''
      uses: actions/download-artifact@v2
      with:
        name: python-package-distributions
        path: precompiled-quandelibc

    - name: Install previously compiled Quandelibc
      if: github.event_name == 'workflow_dispatch' && inputs.quandelibc_ref != ''
      run: bash -c "python -m pip install precompiled-quandelibc/*${{ matrix.wheel }}.whl"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        python -m pip install -r requirements.txt
        python -m pip install .

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest

  perceval-docs-test:
    name: Build docs on ubuntu
    needs:
    - perceval-autotests
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.9'

    - name: Fetch previously compiled Quandelibc
      if: github.event_name == 'workflow_dispatch' && inputs.quandelibc_ref != ''
      uses: actions/download-artifact@v2
      with:
        name: python-package-distributions
        path: precompiled-quandelibc

    - name: Install previously compiled Quandelibc
      if: github.event_name == 'workflow_dispatch' && inputs.quandelibc_ref != ''
      run: bash -c "python -m pip install precompiled-quandelibc/*manylinux2014_x86_64.whl"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install wheel sphinx sphinx-rtd-theme sphinxcontrib-bibtex sphinx-autodoc-typehints nbsphinx jinja2==3.0.0 ipython
        pip install .
    - name: Install Pandoc
      run: |
        sudo apt update
        sudo apt install pandoc
    - name: Build docs
      run: |
        cd docs
        make html
