
# This is a basic workflow that is manually triggered

name: Rerun notebooks and build docs

# Controls when the action will run. Workflow runs when manually triggered using the UI
# or API.

on:
  pull_request:
    branches:
    - main

  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-env:
    name: Rerun notebooks and build docs
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install .
        python -m pip install -r docs/requirements.txt -r docs/source/notebooks/requirements.txt

    - name: Rerun notebooks
      run: |
        ./.github/workflows/rerun_notebooks.sh

    - name: Install Pandoc
      run: |
        sudo apt update
        sudo apt install pandoc

    - name: Build docs
      run: |
        cd docs
        make html

    - name: 'Create docs Artefact'
      uses: actions/upload-artifact@v3
      with:
        name: docs
        path: docs/build/html
        retention-days: 1
